<%- include('partials/header') -%>





<div class="container"style=" position: relative;
  text-align: center;">
    <img src="/image/nuron 2018-04.png" alt="nuron" style="width:40%;opacity: 0.5;padding-top: 5%;">
    
    <h4 class="centered" style="position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);"></h4>
</div>




<%- include('partials/footer') -%>