<%- include('partials/header') -%>


    <div class="container pt-5 pb-5">

       <h1>Error <%= error %>...</h1>
       <b>----------------------------------------------------------------------------------------------</b>
       <h4><%= message %></h4>
       
    </div>











    <%- include('partials/footer') -%>